* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

h1 {
  align-self: center;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

table.table-general {
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.booksBtn {
  text-align: center;
  margin-top: 50px;
}

#addNewBook {
  background-color: aqua;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}
